# Build output
/build/
/build-*/
/out/
/install/
/dist/
/.tools/
CMakeUserPresets.json
compile_commands.json

# IDE
.vs/
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/tasks.json
.idea/
*.swp
*.user
.cache/
