[submodule "eo-protocol"]
	path = eo-protocol
	url = https://github.com/Cirras/eo-protocol.git
[submodule "tests/eo-captured-packets"]
	path = tests/eo-captured-packets
	url = https://github.com/ethanmoffat/eo-captured-packets.git
